

<h2>Product deleted</h2>

<button type="button" class="btn btn-primary" onclick="Back()">Back to products</button>

<script>
    function Back() {
        window.location.href = '../../Product/Index' ;
    }
</script>