<h2>Delete Product?</h2>

<h3>Do you really want to delete the product?</h3>

<button type="button" class="btn btn-danger" onclick="No()">No</button>
<button type="button" class="btn btn-danger" onclick="Yes()">Yes</button>

<script>
    function No() {
        window.location.href = '../../Product/DeleteClient/' + '@ViewData["DeleteId"].ToString()';
    }
    function Yes() {
        window.location.href = '../../Product/Index';
    }
</script>
