

<h2>Reports</h2>

<button class="btn btn-block btn-primary" type="button" onclick="Selected('Sales')">Sales</button>
<button class="btn btn-block btn-primary" type="button" onclick="Selected('Commissions')">Sellers Commissions</button>
<script>
    function Selected(action) {
        window.location.href = "../Report/" + action;
    }
   
</script>