

<h2>Seller deleted</h2>

<button type="button" class="btn btn-primary" onclick="Back()">Back to clients</button>

<script>
    function Back() {
        window.location.href = '../../Seller/Index' ;
    }
</script>