<br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-3">
        <div class="row">
            <a href="../Client/Index"><img src="~/images/client.png" width="150" height="150" /></a>
        </div>
        <span>Cadastro de Clientes</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <img src="~/images/seller.png" width="150" height="150" />
        </div>
        <span>Cadastro de Vendedores</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <img src="~/images/sales.png" width="150" height="150" />
        </div>
        <span>Cadastro de Produtos</span>
    </div>
</div>
<br />
<br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-3">
        <div class="row">
            <img src="~/images/reportSales.png" width="150" height="150" />
        </div>
        <span>Registro de Vendas</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <img src="~/images/report.png" width="150" height="150" />
        </div>
        <span>Relatórios</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <img src="~/images/config.png" width="150" height="150" />
        </div>
        <span>Configurações</span>
    </div>
</div>


